<div class="container">
    <div class="card-deck mb-3 text-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>

                    <td><a class="btn btn-primary" href="/update/{{_id.$oid}}">update</a>|
                        <button class="btn btn-danger" onclick="dd('{{_id.$oid}}')">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    function dd(id) {
        console.log(id);
        axios.delete('/delete/' + id)
            .then(function (response) {
                // handle success
                window.location.reload()

            })
            .catch(function (error) {
                // handle error
                alert("error")
            })
    }
</script>